<!DOCTYPE html>
<html>
  <body>
    <h1>Un nouveau rendez-vous a été pris</h1>
    <p>Utilisateur : <%= @user.name %> (<%= @user.email %>)</p>
    <p>Date : <%= @date %> à <%= @time %></p>
  </body>
</html>

