/*
 *= require session
 *= require registration
 *= require hero
 *= require home
 *= require users
 *= require admin_dashboard
 *= require_self
 */


 /* Layout */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.site-header {
  background-color: #007bff;
  padding: 1rem 2rem;
}

.navbar-green {
  background-color: #28a745;
}

.navbar-green .nav-link,
.navbar-green .navbar-brand {
  color: white;
}

.navbar-green .nav-link:hover {
  color: #085808;
}

.site-main {
  padding: 2rem;
  min-height: 70vh;
}

.site-footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
